body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fbf8f0;
  line-height: 1.6;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}