.content {
  margin: 0 auto;
  width: 80%;
  padding-top: 5rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 20; 
}

.hero-image {
  max-width: 100%; 
  height: auto; 
  z-index: 500;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  z-index: 500;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: .2rem;
  width: 1%; /* Responsive width */
  min-width: 5px; /* Minimum width so it doesn't get too small */
  background-color: #3b3734;
  border-radius: 50%;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  text-align: center; /* Center text lines */
  font-size: 1.5em;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 200px;
  width: 80%; /* Responsive width */
  max-width: 1000px; /* Maximum width */
  background-color: #d3c2ad;
  box-sizing: border-box; /* Include padding in the width calculation */
  box-shadow: 0px 8px 16px rgba(0,0,0,0.25); /* Shadow configuration */
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  z-index: 500;
}

.profile-image {
  max-width: 40%;
  border-radius: 50%;
  margin-bottom: 3em;
  margin-right: 1em;
  height: auto; 
  z-index: 500;
}

.about {
  max-width: 50%;
  text-align: left;
  font-size: 1em;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 100; /* Ensures content is above the square */
}

.centered-square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Adjusted to occupy most of the .about area */
  height: 75%; /* Adjusted to match width to maintain a large size */
  background-color: #d3c2ad;
  transform: translate(-50%, -42%);
  z-index: -1; /* Remains under the content */
  box-shadow: 0px 8px 16px rgba(0,0,0,0.25); /* Shadow configuration */

}

/* Responsive Design Adjustments */
@media screen and (max-width: 800px) {
  .hero-image {
    display: none;
  }

  .centered-square {
    transform: translate(-50%, -44%);
    height: 88%;
  }

  .divider {
    display: none;
  }


  .testimonial {
    margin-top: 5rem;
    font-size: 1em;
  }

  .profile-container {
    flex-direction: column;
    align-items: center; /* This ensures that children are centered within the container */
    justify-content: center; /* This centers children along the main axis */
    text-align: center; /* This centers the text within the container, if there is any */

  }

  .profile-image {
    max-width: 80%;
    margin: 0; /* Resets any specific margins that might affect the centering */
    margin-bottom: 2em; /* Only adds space below the image */
  }

  .about {
    margin-top: 1.2rem;
    max-width: 100%; /* Takes up full width of its container */
    padding: 10px; /* Adjusts padding for smaller screens */
    /* No need to adjust margin-top or margin-bottom unless necessary for spacing */
  }
}



@media screen and (max-width: 1200px) {
 

  .centered-square {
    transform: translate(-50%, -44%);
    height: 88%;
  }

}